h1
{
    font-size: 70px;
    margin-bottom: 50px;
}
h4
{
    max-width: 500px;
}
@media screen and (min-width: 0px) and (max-width:576px) 
{
body{
    text-align: center;
}
}
@media screen and (min-width: 577px) and (max-width:769px) 
{
    body{
        text-align: center;
    } 
}
